.wmd-preview
  border: 2px dashed gray
  border-radius: 5px
  padding: 10px
  margin-top: 5px
  margin-bottom: 10px


.js
  .pages-edit
    .handle
      display: block !important
.pages-edit
  .page_theme
    display: none
  .edit_page
    label
      display: none
  .ui-sortable-helper
    box-shadow: 5px 5px 20px black
    @include transition-property(box-shadow)
    @include transition-duration(0.2s)
  .image-list .image .handle.control
    display: none
  .handle
    cursor: move
    padding: 10px
    top: 0
    left: 0
    //display: none

  ul
    list-style: none
  .image-list
    .ui-state-highlight
      margin: 5px
      float: left
      display: block
      background: $gray-lighter
    img
      margin: 0 auto
    .image
      height: 200px
      float: left
      position: relative
      width: 250px
      margin: 5px
      white-space: nowrap
      .control
        z-index: 1
        text-align: center
        position: absolute
        background: rgba(255,255,255, 0.8)
        display: block
      .delete
        input
          color: $brand-danger
        right: 0
        top: 0
      .edit
        color: white
        background: $brand-primary
        padding: 10px
        right: 0
        bottom: 0
      .next
        top: 40%
        right: 0
      .previous
        left: 0
        top: 40%
