.screen
  padding: 3% 3%
  padding-bottom: 30%
  background-image: url(image-path('monitor.svg'))
  background-position: top
  background-size: 100% auto
  background-repeat: no-repeat

.preview-disabled
  margin-top: 40%
  margin-bottom: 14%
  text-align: center
  color: white

.js
  .screen
    position: relative
  .preview-disabled
    display: none
  .content-drag
    display: none
    width: 100px
    height: 10px
    cursor: move
    padding: 0
    margin: 0
    z-index: 1
    position: absolute
    top: 0%
    left: 0%
    font-size: 0

.iframe-preview
  position: relative
  iframe
    border: none
    display: none
    width: 100%
    height: 100%
  border: none
  .zoomer-cover
    box-shadow: none !important
    a
      cursor: default
      pointer-events: none
      background: transparent !important
  .zoomer-wrapper
    border: 1px solid
.preview-back
  position: absolute
  top: 0
  left: 0
