.screen
  margin: 20px
  &.desktop
    border: 0.8em black solid
    border-radius: 0.4em
  &.laptop
    border: 1em black solid
    border-radius: 1em
    position: relative
    margin-bottom: 3em
    &:after
      position: absolute
      right: 50%
      top: -0.5em
      content: ''
      border: 0.2em white solid
      border-radius: 0.2em
    &:before
      position: absolute
      right: -10%
      left: -10%
      bottom: -2.5em
      content: ''
      border: 0.7em black solid
      border-radius: 0.3em
  &.tablet
    border: 1.5em black solid
    border-radius: 1em
    position: relative
    &:after
      position: absolute
      right: -1.2em
      top: 50%
      content: ''
      border: 0.5em grey solid
      border-radius: 0.5em
  &.phone
    border: 5px black solid
    border-radius: 5px
    border-bottom: 25px black solid
  .iframe-preview
    background: black
//   padding-bottom: 30%
//   background-image: url(image-path('monitor.svg'))
//   background-position: top
//   background-size: 100% auto
//   background-repeat: no-repeat
.content-drag,
.background-drag
  position: absolute
  // background: blue

.preview-disabled
  margin-top: 40%
  margin-bottom: 14%
  text-align: center
  color: white

.js
  .screen
    position: relative
  .preview-disabled
    display: none
  .background-drag
    display: none
    &:hover
      @include filter(blur(1px))
      background: rgba(black, 0.15)
    cursor: move
    padding: 0
    margin: 0
    z-index: 1
  .content-drag
    &:hover
      border-radius: 5px
      @include filter(blur(1px))
      background: rgba(black, 0.15)
    display: none
    width: 100px
    height: 10px
    cursor: move
    padding: 0
    margin: 0
    z-index: 2
    position: absolute
    top: 0%
    left: 0%
    font-size: 0

.iframe-preview
  overflow: hidden
  position: relative
  iframe
    border: none
    display: none
    width: 100%
    height: 100%
  border: none
  .zoomer-cover
    box-shadow: none !important
    a
      cursor: default
      pointer-events: none
      background: transparent !important
  .zoomer-wrapper
    border: 1px solid
.preview-back
  position: absolute
  top: 0
  left: 0
