.screen
  margin: 20px
  &.desktop
    border: 20px black solid
    border-radius: 10px
  &.laptop
    border: 10px black solid
    border-radius: 10px
    position: relative
    &:after
      position: absolute
      right: -5%
      left: -5%
      bottom: -25px
      content: ''
      border: 0.5em grey solid
      border-radius: 0.5em
  &.tablet
    border: 1em black solid
    border-radius: 0.7em
    position: relative
    &:after
      position: absolute
      right: -3%
      top: 50%
      content: ''
      border: 0.3em grey solid
      border-radius: 0.3em
  &.phone
    border: 5px black solid
    border-radius: 5px
    border-bottom: 25px black solid
  .iframe-preview
    background: black
//   padding-bottom: 30%
//   background-image: url(image-path('monitor.svg'))
//   background-position: top
//   background-size: 100% auto
//   background-repeat: no-repeat
// .content-drag
//   background: blue

.preview-disabled
  margin-top: 40%
  margin-bottom: 14%
  text-align: center
  color: white

.js
  .screen
    position: relative
  .preview-disabled
    display: none
  .content-drag
    display: none
    width: 100px
    height: 10px
    cursor: move
    padding: 0
    margin: 0
    z-index: 1
    position: absolute
    top: 0%
    left: 0%
    font-size: 0

.iframe-preview
  position: relative
  iframe
    border: none
    display: none
    width: 100%
    height: 100%
  border: none
  .zoomer-cover
    box-shadow: none !important
    a
      cursor: default
      pointer-events: none
      background: transparent !important
  .zoomer-wrapper
    border: 1px solid
.preview-back
  position: absolute
  top: 0
  left: 0
