.images-edit
  .images-icons
    display: inline
    list-style-type: none
    line-height: 45px
    li
      margin: 0
      padding: 0
      @include inline-block
  .image_full
    margin-bottom: 10px

  .wmd-preview,
  .image_content_css
    display: none
