#image-edit
  ul
    list-style: none
  .image-list
    .image
      position: relative
      width: 200px
      margin: 5px
      white-space: nowrap
      .control
        text-align: center
        font-size: 20px
        position: absolute
        display: block
      .delete
        right: 0
        top: 0px
      .up
        left: 0
        bottom: 20px
      .down
        left: -1px
        bottom: 0px

