#image
  height: 100%

.image
  position: relative
  width: 100%
  height: 100%


.viewer.show-control
  .control,
  .image-description
    opacity: 1
.viewer
  text-align: center
  .content
    height: 100%
    img
      // Center the image
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      margin: auto
      // resize the picture
      max-height: 100%
      max-width: 100%
  .control
    p
      display: inline
    text-decoration: none
    opacity: 0
    @include transition (opacity .5s ease-in)
    position: absolute
    font-size: 60px
    color: black
  .menu
    text-shadow: 0px 0px 3px white
    left: 0
    right: 0
    text-align: center
    bottom: 0
    p
      background: none
  .image-description
    opacity: 0
    @include transition (opacity .5s ease-in)
    position: absolute
    p
      font-size: 14px
      background: none
    text-align: left
    background: white
    background-color: rgba(255, 255, 255, 0.5)
    padding: 5px
    z-index: 10
    left: 0
    right: 0
    top: 0px
  .next-previous
    text-shadow: 0px 0px 3px white
    top: 0
    width: 20%
    height: 100%
    p
      position: relative
      top: 47%
  .first
    display: none
  .next
    @extend .next-previous
    right: 0
    text-align: right
  .previous
    @extend .next-previous
    text-align: left
    left: 0
