= "CACHE MANIFEST\n"
= "# Last Update : #{@site.updated_at}\n"
- @assets.each do |asset|
  = "#{ActionController::Base.helpers.asset_path(asset)}\n"
- @pages.each do |page|
  = "#{page}\n"
= "NETWORK:\n"
= "*\n"
