= "CACHE MANIFEST\n"
= "# Last Update : #{@site.updated_at}\n"
- @assets.each do |asset|
  = "#{ActionController::Base.helpers.asset_path(asset)}\n"
- @sections.each do |section|
  = "#{section}\n"
= "NETWORK:\n"
= "*\n"
