%section#header.row
  .col-md-4.col-md-offset-1.message
    %h1
      = t '.title'
    %h2
      = t '.subtitle'
  .wrapper
    = image_tag '/evlaa-background.jpg', style: 'background-image: url(/evlaa-background.jpg);', class: 'img-responsive'
