- pages_count = @pages.count
- x = Math.sqrt(pages_count).ceil
- y = (pages_count.to_f / x.to_f).ceil
- x,y = [y,x]
- @pages.each_slice(x) do |pages|
  .pages{style: ("height: #{(1/y.to_f*100)}%")}
    - pages.each do |page|
      .page
        .wrapper
          = link_to page_path(page) do
            %h2= page.name
          = my_image_tag page.images.first, :full, alt: page.name, title: page.name
