- content_for(:extra_body_classes, 'pages-legal')
- if @site
  .col-md-6.col-md-offset-1
    -# = image_tag @site.favicon.url(:thumb, :thumb192)
    h1
      = link_to root_path, alt: @site.title do
        = @site.host
    = t('.powered_by', brand: link_to( t('brand'), root_url(host: "www.#{ENV['DOMAIN']}"))).html_safe
  .col-md-6.col-md-offset-1
    = render 'offline'
.col-md-3.col-md-offset-1
  - if I18n.locale == :fr
    markdown:
      ## Informations légales
      ### Editeur

      Luc Boissaye

      +33.610.232.999

      contact@evlaa.com

      ### Siège social et boite postale :

      155 Avenue Ledru Rollin

      75011 Paris

      France

      ### Juridiction

      Evlaa est soumis au droit français.

      ### Hébergeur

      Heroku, Inc. 321 11th Street  San Francisco, CA

      <http://www.heroku.com/>
  - else
    markdown:
      ## Legal information
      ### Evlaa
      Phone +33.610.232.999

      Publisher Luc Boissaye

      ### Headquarter and postal adress:

      155 Avenue Ledru Rollin

      75011 Paris

      France

      ### Jurisdiction

      Evlaa is subject to all applicable french laws and regulations.

      ### Hosting provider

      Heroku, Inc. 321 11th Street  San Francisco, CA

      <http://www.heroku.com/>
