.col-sm-4.col-md-offset-4
  %h1 New page
  = simple_form_for [@site,@page] do |f|
    = f.input :name, input_html: { autofocus: :autofocus, class: 'input-lg' }
    = f.submit class: 'btn btn-primary input-lg'
