= render 'layouts/nav', site: @site
- empty = true
- if @page.description.present? || @page.description_html.present?
  - empty = false
  .col-md-12
    .description
      = @page.description_rendered.html_safe
      = @page.description_html.html_safe
- if @image
  - empty = false
  = render @image
- if empty
  .col-md-12
    %h1 Oups, this page is empty...
