= render 'layouts/navbar', site: @site
.page
  .content
    .message
      #description
        = @description
    .images.rotation
      - @page.images.each do |image|
        .image
          .viewer
            .content
              = image_tag image.image, title: image.description
