- if @page.description.present?
  .col-md-3.message
    .description
      = @page.description_html.html_safe
  .col-md-9.images.rotation
    - if @image
      = render @image
- else
  - if @image
    .col-md-12.images
      = render @image
  - else
    .col-md-12.images
      Oups, this page is empty, but there is a menu if you scroll...

= render 'layouts/nav', site: @site
