.page{class: "layout-#{@layout}"}
  .content
    - if @description.present?
      .message
        #description
          = @description

    - images = @page.images.to_a
    - first_image = images.shift
    - images = capture_haml do
      = render images
    .images.rotation{:'data-images' => images}
      = render first_image if first_image
