// For admin position
.col-fullscreen
  padding: 0
#nav
  input
    font-size: 14px
    top: 0
    color: $navbar-inverse-link-active-color
    padding: 14px 10px
    background: $navbar-inverse-link-active-bg
  .preview
    padding-top: 10px
    padding-bottom: 0px
body
  position: absolute
  left: 0
  top: 0
  bottom: 0
  right: 0
