// For admin position
.col-fullscreen
  padding: 0
//li.active.with_positions
  //background: $navbar-inverse-link-active-bg !important
//li.active.with_positions
  //font-size: 0
  //a
    //font-size: $font-size-base
    //margin-right: -0.25em
    //display: inline-block
body
  position: absolute
  left: 0
  top: 0
  bottom: 0
  right: 0
