.navbar
  border: 0

// Ack bootstrap for full with navbar
.navbar-nav
  @include transition (margin .1s ease-in)
  margin: 0

.navbar-inverse
  background: none
.navbar-toggle
  background: #101010
.navbar-collapse
  background: #101010
  padding: 0
.navbar-toggle
  //float: left
  z-index: 999
  margin: 0
  height: 40px
  //margin-left: 10px
  //margin-right: 10px

@include keyframes(fadeIn)
  0%
    opacity: 0
  80%
    opacity: 0
  to
    opacity: 1

.navbar-no-js
  @include animation(fadeIn 3s ease-in)

//Menu fullscreen
@media (max-width: $grid-float-breakpoint)
  .navbar-collapse
    position: relative
    top: -40px
  //position: relative
  //top: -$navbar-height
  //.description
    //padding-top: $navbar-height
@media (min-width: $grid-float-breakpoint)
  body
    padding-top: $navbar-height


// For admin position
li.active.with_positions
  font-size: 0
  a
    font-size: $font-size-base
    margin-right: -0.25em
    display: inline-block
