.navbar
  border: 0

// Ack bootstrap for full with navbar
.navbar-nav
  @include transition (margin .1s ease-in)
  margin: 0

// For admin position
li.active.with_positions
  font-size: 0
  a
    font-size: $font-size-base
    margin-right: -0.25em
    display: inline-block
