@import url(http://fonts.googleapis.com/css?family=Ubuntu)
$font-family-base:  'Ubuntu', sans-serif
$border-radius-base: 0
$border-radius-large: 0
$border-radius-small: 0
$brand-success: #00B945
$brand-info: #16EAAE

@import 'font-awesome'
@import 'jquery-ui/resizable'
@import 'bootstrap'
@import 'bourbon'
@import 'nprogress'
@import 'nprogress-bootstrap'
@import 'images/edit'
@import 'images/upload'
@import 'sites/edit'
@import 'layout/nav-admin'
@import 'pages/edit'
@import 'pagedown'
@import 'pages/preview'
@import 'home'
@import 'registrations/edit'
@import 'focuspoint'

.translation_missing
  &:before
    content: '{'
  &:after
    content: '}'
  color: red !important
