#focuspoint
  &.drag
    .previews
      opacity: 1
  display: table
  width: 100%
  height: 0
  .selector
    display: table-cell
    position: relative
    overflow: hidden
    width: 70%
    img
      vertical-align: bottom
      width: 100%
      border: 1px black solid
  .pointer
    box-shadow: black 0px 0px 5px
    position: absolute
    width: .5em
    height: .5em
    background: white
    border-radius: 100%
  .handle
    box-shadow: black 0px 0px 5px
    cursor: move
    position: absolute
    margin-left: .25em
    margin-top: .25em
    top: -1000%
    left: -1000%
    width: 2000%
    height: 2000%
    border: 2px solid white
    border-radius: 100%
  .previews
    opacity: 0.5
    display: table-cell
    height: 100%
    width: 100%
  .wrapper
    position: relative
    width: 100%
    height: 100%

  .preview
    position: absolute
    max-width: 100%
    // Hide the previous image
    display: block
    @include box-sizing(border-box)
    padding-left: 100%
    // Full background.
    @include background-size(cover)
    background-repeat: no-repeat
    background-position: center center
    max-width: 100%
    border: 1px black solid
    border-left: 0
    &.one
      top: 0
      left: 0
      right: 0
      bottom: 20%
      height: 80%
      width: 100%
      border-bottom: 0
    &.two
      top: 80%
      left: 0
      right: 0
      bottom: 0
      height: 20%
      width: 100%
