.focuspoint
  margin-bottom: 15px
  img
    max-width: 100%
    height: auto
  &.active
    .selector
      overflow: auto
      text-align: center
      z-index: 999
      display: block
      position: fixed
      padding: 20px
      top: 0
      left: 0
      bottom: 0
      right: 0
      background: rgba(0,0,0,0.8)
  .selector
    display: none
