- breadcrumb @site
.col-sm-4.col-md-offset-4
  %h1=t('.title')
  = simple_form_for @site,  html: { class: 'warn-on-exit' } do |f|
    = f.input :title, input_html: { autofocus: true }, label: false
    = f.submit class: 'btn', data: { 'disable-with'=> t('loading') }

