.col-md-12
  %h1= @site.title
  .row
    - @site.sections.each do |section|
      .col-md-12
        %h3= section.name
      .col-md-12
        .row
          - section.images.each do |image|
            .col-md-3.col-lg-2.col-xs-4
              = link_to image_path(image) do
                = image_tag image.image.url(:thumbnail), alt: image.legend, title: image.legend, class: 'img-responsive'
