!!! XML
%urlset{ xmlns: 'http://www.sitemaps.org/schemas/sitemap/0.9', 'xmlns:xhtml' =>'http://www.w3.org/1999/xhtml' }
  - [ :root_url, :new_user_registration_url, :new_user_session_url ].each do |route|
    %url
      %loc= send(route)
      %changefreq weekly
      %priority= route == :root_url ? 1 : 0.5
      - I18n.available_locales.each do |locale|
        %xhtml:link{ rel:"alternate", hreflang: locale, href: send(route, locale: locale) }
