= direct_upload_form_for image.original, html: { class: 'fileupload' } do |f|
  .uploading{style: 'display: none'}
    .upload_in_progress
      %h1=t('.upload_in_progress')
      -# = t('.upload_in_progress_link_html', link: edit_section_path(@section), default: '<a href="%{link}" class="btn btn-success" target="_blank">Continue to edit the site</a>')
    .progress
      .progress-bar.active.progress-bar-success.progress-bar-striped
  = f.file_field :original, data: { new_url: new_site_section_image_path(site_id: image.section.site, section_id: image.section), add_url: add_site_section_images_path(site_id: image.section.site, section_id: image.section) }
  = f.submit t('.upload'), data: { 'disable-with'=> t('loading') }
