.image
  .viewer
    .content
      - if image.description.present?
        .image-description= image.description
      = image_tag image.image.url(:full), alt: image.description, title: image.description
      - if image.lower_item
        =link_to image.lower_item , class: 'control previous preload' do
          %p previous

      - if image.lower_items.first
        =link_to image.lower_items.last , class: 'control first preload' do
          %p
      - if image.higher_item
        =link_to image.higher_item, class: 'control next preload' do
          %p next
