.col-md-4.col-md-offset-4
  = image_tag @image.image.url(:thumbnail)
.col-md-4.col-md-offset-4
  = simple_form_for @image do |f|
    = f.input :description, input_html: {value: f.object.description }
    = f.submit
