- if ENV['FB_PIXEL'].present? || flash[:facebook_pixel].present?
  :javascript
    (function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
      }
    })();
    window._fbq = window._fbq || [];
  - if ENV['FB_PIXEL'].present?
    :javascript
      window._fbq.push(['addPixelId', '#{ENV['FB_PIXEL']}']);
      window._fbq.push(['track', 'PixelInitialized', {}]);
    %noscript
      %img{ height: '1', width: '1', alt: '', style: 'display:none', src: "https://www.facebook.com/tr?id=#{ENV['FB_PIXEL']}&amp;ev=PixelInitialized" }

  - if flash[:facebook_pixel].present?
    :javascript
      window._fbq.push(['track', '#{flash[:facebook_pixel]}', {'value':'0.00','currency':'USD'}]);
    %noscript
      %img{ height: '1', width: '1', alt: '', style: 'display:none', src: "https://www.facebook.com/tr?ev=#{flash[:facebook_pixel]}&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" }
