- contexts = { success: 'success', error: 'danger', alert: 'danger', notice: 'info' }
- flash.each do |name, msg|
  .col-md-12
    - context = contexts[name.to_sym]
    - if context
      = alert_box msg, context: context
