- if site && site.pages.count > 1
  %nav#nav.nojs
    %a.menu{href: '#'}
      =t('.menu', default: 'Menu')
    %ul
      - site.pages.each do |page|
        %li{ class: (:active if page == @page) }
          = link_to page.name, s_page_path(id: page)
