- pages = site.pages.all
%nav.navbar.navbar-fixed-bottom.navbar-inverse{role: 'navigation'}
  .navbar-header
    %button.navbar-toggle{'data-target' => '#nav-content', 'data-toggle' => 'collapse', type: 'button'}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

    - home = pages.shift
    = link_to home.name, site_page_path(site_id: site, id: home), class:'navbar-brand'
  #nav-content.collapse.navbar-collapse
    %ul.nav.navbar-nav
      - pages.each do |page|
        %li{class: (page == @page ? 'active' : '')}
          = link_to page.name, site_page_path(site_id: site, id: page)
