- if site
  .col-md-12.nav
    %nav.navbar.navbar-inverse{ role: 'navigation' }
      %ul.nav.navbar-nav
        - site.pages.each do |page|
          = tab_link(page_path(id: page)) do
            = page.name
