- if site
  .col-md-12.col-fullscreen.nav-bottom
    = render 'images/progress'
    %nav.navbar.navbar-inverse{ role: 'navigation' }
      %ul.nav.navbar-nav
        - site.pages.each do |page|
          %li{ class: (:active if page == @page)}
            = link_to page.name ,page_path(id: page)
