- if site
  .col-md-12.col-fullscreen.nav-bottom.main-nav
    %nav.navbar.navbar-inverse{ role: 'navigation', id: 'nav' }
      %ul.nav.navbar-nav
        - site.pages.each do |page|
          %li{ class: (:active if page == @page)}
            = link_to page.name, s_page_path(id: page)
